---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Not Found">
  <Fragment slot="content">
    <div
      class="flex flex-col space-y-4 justify-center items-center mx-auto py-40"
    >
      <h1 class="text-4xl font-extrabold tracking-tight lg:text-5xl">404</h1>
      <p>
        It looks like this page doesn't exist.
        <br />
        Let's get you <a class="text-blue-500 hover:underline" href="/">back home</a>.
      </p>
    </div>
  </Fragment>
</Layout>
