---
import { SITE_TITLE } from "../consts";
---

<nav class="mt-8 mb-4 flex flex-col md:flex-row md:justify-between">
  <a href="/">
    <h2 class="hover:underline text-lg font-medium inline-block">{SITE_TITLE}</h2>
  </a>
  <!-- <div class="leading-8 inline-block">
    <a href="/posts" class="text-blue-500">
      Blog Posts
    </a>
  </div> -->
</nav>
